/*
/database/*.swp
documentation/*.swp
/lg-lib/build/
lg\.pro\.user
!documentation/
!database/
!lg-ui/
!lg-lib/
!lg.pro
!qmake-target-platform.pri
!lg.pro.user
!qmake-destination-path.pri
!.gitignore
!CMakeLists.txt
!README.md
