*.jpg
*.swp
/*
/database/*.swp
documentation/*.swp
/lg-lib/build/
/lg-lib/*.vim
/lg-ui/*.vim
!documentation/
!database/
!lg-ui/
!lg-lib/
!lg.pro
!qmake-target-platform.pri
!qmake-destination-path.pri
!.gitignore
!CMakeLists.txt
!README.md
