/*
/database/*.swp
/documentation/cooked_files/*
/documentation/*.pdf
/lg-lib/build/
!documentation/
!database/
!lg-ui/
!lg-lib/
!lg.pro
!qmake-target-platform.pri
!lg.pro.user
!qmake-destination-path.pri
!.gitignore
!CMakeLists.txt
!README.md
